[submodule "wOLIB"]
	path = commons/wOLIB
	url = git@github.com:tarosuke/wOLIB.git
[submodule "toolbox"]
	path = commons/toolbox
	url = git@github.com:tarosuke/toolbox.git
[submodule "subsystems/canvas"]
	path = subsystems/canvas
	url = git@github.com:tarosuke/tb-canvas.git
